Source: darcsweb
Section: web
Priority: optional
Maintainer: Fabian Linzberger <e@lefant.net>
Uploaders: Erik Wenzel <erik@debian.org>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.1
Vcs-Browser: http://git.lefant.net/cgi-bin/gitweb.cgi/darcsweb.git
Vcs-Git: git://git.lefant.net/darcsweb.git
Homepage: http://blitiri.com.ar/p/darcsweb/

Package: darcsweb
Architecture: all
Depends: ${misc:Depends}, python (>= 2.3), darcs
Recommends: apache2 | httpd-cgi
Description: web interface for browsing darcs repositories
 This is a simple web interface for darcs, inspired by gitweb. It's
 written in Python and calls darcs to get most of the data.
 .
 It supports browsing records and their diffs, extracting diffs
 against the current head, browsing the current tree, annotate,
 provides an RSS feed and other stuff like that.
 .
